header {
    background: var(--secondary-background-color);
    display: flex;
}

.text-logo {
    font-family: var(--title-font-family);
}

.search-bar {
    padding: 0.5em;

}

.search-bar::placeholder {
    font-size: 12px; /* Adjust the font size as needed */
}

/* #cartIcon {
  width: 3%;
  height: auto; /* Maintain the aspect ratio */

.bookstore-link{
    width: 30%;
    height: auto;
}
#leftHeader{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-evenly;*/
    float: left;
    width: 30%;
}

#midHeader{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%
    /*justify-content: space-evenly;*/
}

#icon{
    padding-left: 1rem;
}

#rightHeader{
    min-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#categories-button{
    padding: 5px 10px;
    font-size: 1rem;
}

#login-button{
    padding: 5px 10px;
    font-size: 1rem;
}



#form{
    display: flex;

}

#icon{
    display: flex;
    align-items: center;
}

#cartIcon{
    display: flex;
    align-items: center;
}

#search-bar{
    display: flex;
    flex-direction: row;
}

.container-header {
    padding: 1rem;
    display: flex;
    width: 100%;

}

#bookstore-text{
    padding-left: 20px;
}


/* @media (max-width: 1200px) {
  header {
    flex-direction: column;
  }
} */
